


    <main>

     <section class="sectionPadrao">
        <div class="sectionPadrao">
          <form class="row g-3 needs-validation" novalidate>
            <h4>Você está na área de Cadastros de Clientes. Realize o Cadastros dos Clientes digitando as Informações abaixo:</h4>
            <div class="col-md-6 position-relative">
              <label for="validationTooltip01" class="form-label labelCont"
                >Digite o Nome do Cliente</label
              >
              <input
                type="text"
                class="form-control"
                id="validationTooltip01"
                value=""
                required
              />
              <div class="valid-tooltip">Parece Bom!</div>
            </div>

            <div class="col-md-6 position-relative">
              <label for="validationTooltip02" class="form-label "
                >Digite o E-mail do Cliente</label
              >
              <input
                type="text"
                class="form-control"
                id="validationTooltip02"
                value=""
                required
              />
              <div class="valid-tooltip">Parece Bom!</div>
            </div>

            <div class="col-md-4 position-relative">
              <label for="validationTooltip03" class="form-label labelCont">Digite o Destino do Cliente</label>
              <input
                type="text"
                class="form-control"
                id="validationTooltip03"
                required
              />
              <div class="invalid-tooltip">
                Por favor selecione um Destino Válido.
              </div>
            </div>
       
            <div class="col-md-4 position-relative">
              <label for="validationTooltip05" class="form-label">Digite o País do Destino</label>
              <input
                type="text"
                class="form-control"
                id="validationTooltip05"
                required
              />
              <div class="invalid-tooltip">
                Por favor Informe um País Válido.
              </div>
            </div>

            <div class="col-md-4 position-relative">
              <label for="validationTooltip03" class="form-label labelCont">Digite a Data da Viagem</label>
              <input
                type="text"
                class="form-control"
                id="validationTooltip03"
                required
              />
              <div class="invalid-tooltip">
                Por favor selecione uma Data Válida.
              </div>
            </div>
       
           

            <label for="validationTooltip05" class="form-label">Dados do Cliente</label>

            <textarea
              class="textArea"
              name=""
              
              cols="20"
              rows="10"
            ></textarea>
            <div class="containerFaleConosco">
              <button type="button" class="btn btnEnviar btn-outline-primary">
                Enviar
              </button>
            </div>
          </form>
        </div>

      </section>
    </main>
  